@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

@theme {
  --color-marvel-yellow: #F6D330;
  --color-marvel-black: #000000;
  --font-alata: 'Alata', sans-serif;
  --font-sofia: 'Montserrat', sans-serif;
}

@layer base {
  html {
    font-family: var(--font-sofia);
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-alata);
  }
}